@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  height: 100vh;
  margin-top: 10vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #000;
  margin: 20px;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  border: 2px solid #fafafa;
  border-radius: 10px;
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Nothing You Could Do', cursive;
  color: #fafafa;
  background-color: #000;
}

.Person {
  width: 50%;
  border: 3px solid #fafafa;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}